<?xml version="1.0" encoding="UTF-8"?>
<root>
	<resources>
		<res01>
			<url>jdbc:mysql://127.0.0.1:3306/spruce</url>
			<username>root</username>
			<password></password>
			<wight>1</wight>
		</res01>
		<res02>
			<url>jdbc:mysql://192.168.1.11:3306/relation</url>
			<username>root</username>
			<password></password>
			<wight>1</wight>
		</res02>

	</resources>
	<extraInfos>
		<driverClass>com.mysql.jdbc.Driver</driverClass>
		<maxActive>10</maxActive>
		<minIdle>10</minIdle>
		<initialSize>2</initialSize>
		<testOnBorrow>true</testOnBorrow>
		<poolName>TomcatJDBC</poolName>
	</extraInfos>
	<routers>
		<user>
			<parentId></parentId>
			<parentPath></parentPath>
			<eqClass>fengfei.forest.slice.equalizer.RemainderEqualizer</eqClass>
			<routerClass>fengfei.forest.slice.impl.AccuracyRouter</routerClass>
			<plotterClass>fengfei.forest.slice.plotter.LoopPlotter
			</plotterClass>
			<overflow>Exception</overflow>


			<slices>
				<slice>
					<id>1</id>
					<alias>_1</alias>
					<readwrite>res01</readwrite>
					<range>1~1000</range>
				</slice>
			</slices>
		</user>
		<profile>
			<parentId></parentId>
			<parentPath></parentPath>
			<eqClass>fengfei.forest.slice.equalizer.RemainderEqualizer</eqClass>
			<routerClass>fengfei.forest.slice.impl.AccuracyRouter</routerClass>
			<plotterClass>fengfei.forest.slice.plotter.LoopPlotter
			</plotterClass>
			<overflow>Exception</overflow>
 

			<slices>
				<slice>
					<id>1</id>
					<alias>_1</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>1~500</range>
				</slice>
				<slice>
					<id>2</id>
					<alias>_2</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>501~1000</range>
				</slice>
			</slices>
		</profile>

	</routers>

</root>