<?xml version="1.0" encoding="UTF-8"?>
<root>
	<resources>
		<res01>
			<url>jdbc:mysql://172.17.20.72:3306/relationdb_edges</url>
			<username>lj</username>
			<password>livejournal</password>
			<wight>1</wight>
		</res01>

	</resources>
	<extraInfos>
		<poolName>TomcatJDBC</poolName>
		<driverClass>com.mysql.jdbc.Driver</driverClass>
		<maxActive>200</maxActive>
		<minIdle>200</minIdle>
		<maxIdle>200</maxIdle>
		<initialSize>20</initialSize>
		<testOnBorrow>true</testOnBorrow>
		<testWhileIdle>true</testWhileIdle>
		<timeBetweenEvictionRunsMillis>30000</timeBetweenEvictionRunsMillis>
		<minEvictableIdleTimeMillis>30000</minEvictableIdleTimeMillis>
		<maxPoolPreparedStatementPerConnectionSize>3</maxPoolPreparedStatementPerConnectionSize>
		<removeAbandoned>true</removeAbandoned>
		<removeAbandonedTimeout>60</removeAbandonedTimeout>
		<logAbandoned>true</logAbandoned>
		<validationQuery>select 1</validationQuery>
		<validationInterval>30000</validationInterval>
	</extraInfos>
	<routers>

		<profile>
			<parentId></parentId>
			<parentPath></parentPath>
			<eqClass>fengfei.forest.slice.equalizer.RemainderEqualizer</eqClass>
			<routerClass>fengfei.forest.slice.impl.AccuracyRouter</routerClass>
			<plotterClass>fengfei.forest.slice.plotter.LoopPlotter</plotterClass>
			<overflow>Exception</overflow>
			<slices>
				<slice>
					<id>1</id>
					<alias>_1</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>1~250</range>
				</slice>
				<slice>
					<id>2</id>
					<alias>_2</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>251~500</range>
				</slice>
				<slice>
					<id>3</id>
					<alias>_3</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>501~750</range>
				</slice>
				<slice>
					<id>4</id>
					<alias>_4</alias>
					<read>res01</read>
					<write>res01</write>
					<readwrite>res01</readwrite>
					<range>751~1000</range>
				</slice>

			</slices>
		</profile>

	</routers>

</root>